/**
 * Syntax highlighting styles
 */
.highlight {
    background:#eee4d0;

    @extend %vertical-rhythm;

    /* Background */

    .chroma {
        background-color: #eee4d0;

        /* Error */
        .err {
            display: inline;
        }

        /* LineTableTD */
        .lntd {
            vertical-align: top;
            padding: 0;
            margin: 0;
            border: 0;
        }

        /* LineTable */
        .lntable {
            border-spacing: 0;
            padding: 0;
            margin: 0;
            border: 0;
            width: auto;
            overflow: auto;
            display: block;
        }

        /* LineHighlight */
        .hl {
            display: block;
            width: 100%;
            background-color: #ffffcc;
        }

        /* LineNumbersTable */
        .lnt {
            margin-right: 0.4em;
            padding: 0 0.4em 0 0.4em;
        }

        /* LineNumbers */
        .ln {
            margin-right: 0.4em;
            padding: 0 0.4em 0 0.4em;
        }

        /* Keyword */
        .k {
            color: #0000ff;
        }

        /* KeywordConstant */
        .kc {
            color: #0000ff;
        }

        /* KeywordDeclaration */
        .kd {
            color: #0000ff;
        }

        /* KeywordNamespace */
        .kn {
            color: #0000ff;
        }

        /* KeywordPseudo */
        .kp {
            color: #0000ff;
        }

        /* KeywordReserved */
        .kr {
            color: #0000ff;
        }

        /* KeywordType */
        .kt {
            color: #2b91af;
        }

        /* NameClass */
        .nc {
            color: #2b91af;
        }

        /* LiteralString */
        .s {
            color: #a31515;
        }

        /* LiteralStringAffix */
        .sa {
            color: #a31515;
        }

        /* LiteralStringBacktick */
        .sb {
            color: #a31515;
        }

        /* LiteralStringChar */
        .sc {
            color: #a31515;
        }

        /* LiteralStringDelimiter */
        .dl {
            color: #a31515;
        }

        /* LiteralStringDoc */
        .sd {
            color: #a31515;
        }

        /* LiteralStringDouble */
        .s2 {
            color: #a31515;
        }

        /* LiteralStringEscape */
        .se {
            color: #a31515;
        }

        /* LiteralStringHeredoc */
        .sh {
            color: #a31515;
        }

        /* LiteralStringInterpol */
        .si {
            color: #a31515;
        }

        /* LiteralStringOther */
        .sx {
            color: #a31515;
        }

        /* LiteralStringRegex */
        .sr {
            color: #a31515;
        }

        /* LiteralStringSingle */
        .s1 {
            color: #a31515;
        }

        /* LiteralStringSymbol */
        .ss {
            color: #a31515;
        }

        /* OperatorWord */
        .ow {
            color: #0000ff;
        }

        /* Comment */
        .c {
            color: #008000;
        }

        /* CommentHashbang */
        .ch {
            color: #008000;
        }

        /* CommentMultiline */
        .cm {
            color: #008000;
        }

        /* CommentSingle */
        .c1 {
            color: #008000;
        }

        /* CommentSpecial */
        .cs {
            color: #008000;
        }

        /* CommentPreproc */
        .cp {
            color: #0000ff;
        }

        /* CommentPreprocFile */
        .cpf {
            color: #0000ff;
        }

        /* GenericEmph */
        .ge {
            font-style: italic;
        }

        /* GenericHeading */
        .gh {
            font-weight: bold;
        }

        /* GenericPrompt */
        .gp {
            font-weight: bold;
        }

        /* GenericStrong */
        .gs {
            font-weight: bold;
        }

        /* GenericSubheading */
        .gu {
            font-weight: bold;
        }
    }
}
